<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palmeiras</title>
    <link rel="icon" href="/static/imagens/Logo site icone2.png" type="image/png">
    <link rel="stylesheet" href="/static/style-palmeiras.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header>    
        <div class="logo">
          <!--  <img src="/static/imagens/Corinthians-escudo.png" alt="Corinthians Logo" width="50"> -->
        </div>
        <h1>Sociedade Esportiva Palmeiras</h1>

         <!-- Opções de Login -->
         <div class="auth-links">
             <a href="/login">Login</a>
        </div>

        <!-- Ícone do menu -->
        <div class="menu-toggle" id="menuToggle" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <!-- Menu lateral expansível -->
        <nav class="side-menu" id="sideMenu">
            <ul>
                <li><a href="/">Início</a></li>
                <li>
                    <a href="#">Futebol</a>
                    <ul class="submenu">
                        <li><a href="/Athletico-PR">Athletico - PR</a></li>
                        <li><a href="/Atletico-GO">Atlético - GO</a></li>
                        <li><a href="/Atletico-MG">Atlético - MG</a></li>
                        <li><a href="/Bahia">Bahia</a></li>
                        <li><a href="/Botafogo">Botafogo</a></li>
                        <li><a href="/Bragantino">Bragantino</a></li>
                        <li><a href="/Corinthians">Corinthians</a></li>
                        <li><a href="/Criciuma">Criciúma</a></li>
                        <li><a href="/Cruzeiro">Cruzeiro</a></li>
                        <li><a href="/Cuiaba">Cuiabá</a></li>
                        <li><a href="/Flamengo">Flamengo</a></li>
                        <li><a href="/Fluminense">Fluminense</a></li>
                        <li><a href="/Fortaleza">Fortaleza</a></li>
                        <li><a href="/Gremio">Grêmio</a></li>
                        <li><a href="/Internacional">Internacional</a></li>
                        <li><a href="/Juventude">Juventude</a></li>
                        <li><a href="/Palmeiras">Palmeiras</a></li>
                        <li><a href="/Sao Paulo">São Paulo</a></li>
                        <li><a href="/Vasco">Vasco</a></li>
                        <li><a href="/Vitoria">Vitória</a></li>
                    </ul>
                </li>    
                <!-- <li><a href="#">Basquete</a></li>
                <li><a href="#">Vôlei</a></li>
                <li><a href="#">Mais Esportes</a></li> -->
            </ul>
        </nav>

    </header>

    <script>
        // Função para abrir/fechar o menu
        function toggleMenu() {
            const menu = document.getElementById('sideMenu');
            const toggle = document.getElementById('menuToggle');
            menu.classList.toggle('active');
            toggle.classList.toggle('open');
        }

        // Adiciona eventos para abrir/fechar o menu
        const menuToggle = document.getElementById('menuToggle');
        const sideMenu = document.getElementById('sideMenu');

        menuToggle.addEventListener('mouseover', () => {
            sideMenu.classList.add('active');
        });

        sideMenu.addEventListener('mouseover', () => {
            sideMenu.classList.add('active');
        });

        menuToggle.addEventListener('mouseout', () => {
            sideMenu.classList.remove('active');
        });

        sideMenu.addEventListener('mouseout', () => {
            sideMenu.classList.remove('active');
        });

        menuToggle.addEventListener('click', () => {
            sideMenu.classList.toggle('active');
        });

        document.addEventListener('click', (event) => {
            if (!sideMenu.contains(event.target) && !menuToggle.contains(event.target)) {
                sideMenu.classList.remove('active');
            }
        });
    </script>

    <!-- Conteúdo principal -->
    <main class="main-corinthians">

        <section class="grid-noticias">
            <!-- Notícia principal com imagem grande à esquerda -->
            <div class="noticia-principal">
                <a href="pagina-noticia-principal.html">
                    <img src="/static/imagens/palmeiras/noticias 1.jpg" alt="Notícia Principal">
                    <div class="conteudo-noticia">
                        <h2>Destaque</h2>
                        <p>Raphael Veiga é maestro do time</p>
                    </div>
                </a>
            </div>
    
            <!-- Blocos de notícias à direita -->
            <div class="bloco-noticias-direita">
                <div class="noticia-secundaria">
                    <a href="pagina-noticia-secundaria1.html">
                        <img src="/static/imagens/palmeiras/noticias 2.jpg" alt="Notícia Secundária 1">
                        <h3>Gramado é questionado</h3>
                        <p>Prévia da Notícia Secundária 1</p>
                    </a>
                </div>
                <div class="noticia-secundaria">
                    <a href="pagina-noticia-secundaria2.html">
                        <img src="/static/imagens/palmeiras/noticias 3.jpg" alt="Notícia Secundária 2">
                        <h3>Estevão é revelação</h3>
                        <p>Prévia da Notícia Secundária 2</p>
                    </a>
                </div>
            </div>
        </section> <!-- Fim da seção de notícias -->
  
    
        <div class="video-corinthians"> <!-- Seção de vídeos fora do grid -->
            <h2 class="titulo-video">Assista aos Melhores Momentos de Corinthians x Palmeiras</h2>
            <iframe src="https://www.youtube.com/watch?v=rsDf9E1RxYU&pp=ygUgZ2UgbWVsaG9yZXMgbW9tZW50b3MgY29yaW50aGlhbnM%3D"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="proximos-jogos">
            <h2>Próximos Jogos</h2>
            <ul>
                <li>
                    <div class="jogo-info">
                        <span class="data-jogo">📅 09/11/2024</span>
                        <span class="adversario">⚽ Palmeiras vs Grêmio</span>
                        <span class="local">📍 Allianz Parque</span>
                    </div>
                </li>
                <li>
                    <div class="jogo-info">
                        <span class="data-jogo">📅 20/11/2024</span>
                        <span class="adversario">⚽ Bahia vs Palmeiras</span>
                        <span class="local"> 📍 Fonte Nova</span>
                    </div>
                </li>
                <li>
                    <div class="jogo-info">
                        <span class="data-jogo">📅 24/11/2024</span>
                        <span class="adversario">⚽ Atletico-GO vs Palmeiras</span>
                        <span class="local"> 📍 Antonio Accioly</span>
                    </div>
                </li>
                <!-- Adicione mais jogos conforme necessário -->
            </ul>
        </div>
        
    
    </main>
    
    <footer>
        <p>&copy; 2024 - Estágiarios da Bola. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
